ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #0b0c10;
  border: 1px solid #45a29e;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

li img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid #66fcf1;
}

li button {
  margin-top: 0.5rem;
  background-color: #ff4d4d;
  color: white;
}

li button:hover {
  background-color: #cc0000;
}